
  <div class="header container-fluid">
      
    <div class="container d-flex justify-content-between align-items-center inner"><a href="/" class="logo"><img
          src="https://api.freelogodesign.org/files/d6e36d60e92142d8b5a3efcb5729e543/thumb/logo_200x200.png?v=637531198530000000" alt="logo-freetuts" style="max-width: 70px"></a>

          <p h1 class="text-left h1  ">DOW SOLUTIONS</p>

        <div class="d-flex social-bar">
           
            
        </div>
        
        
        
      </div>
      
    </div>
 
  
  
