<app-header></app-header>
<app-nav-bar></app-nav-bar>
<!--Main Navigation-->


    <!--Navbar-->

  
    <!--Intro Section-->
    <section class="view intro-2 rgba-gradient">
      <div class="full-bg-img">
        <div class="container flex-center">
          <div class="row flex-center pt-5 mt-3">
            <div class="col-md-6 text-center text-md-left margins">
              <div class="white-text">
                <h1 class="h1-responsive wow fadeInLeft" data-wow-delay="0.3s">WELCOME TO OUR WEBSITE</h1>
                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                <h1 class="h1-responsive wow fadeInLeft" data-wow-delay="0.3s">TRƯƠNG TẤN HOÀNG</h1>
                <h1 class="h1-responsive wow fadeInLeft" data-wow-delay="0.3s">CAO NHẬT AN</h1>
                
               
              </div>
            </div>
  
            <div class="col-md-6 wow fadeInRight d-flex justify-content-center" data-wow-delay="0.3s">
              <img src="https://api.freelogodesign.org/files/d6e36d60e92142d8b5a3efcb5729e543/thumb/logo_200x200.png?v=637531198530000000" alt="" class="img-responsive" style="max-width: 700px">
            </div>
          </div>
        </div>
      </div>
    </section>
  

  <!--Main Navigation-->
  
  <!--Main Layout-->
  <main>
  
    <div class="container">
  
      <!--Grid row-->
      <div class="row py-5">
  
        <!--Grid column-->
        
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
    </div>
  
  </main>
  <!--Main Layout-->
<app-footer></app-footer>
